.Skills {
    .skill-wrapper {
        display: flex;
        flex-direction: column;
        .skill-item {
            flex-basis: 100%;
            .process-line {
                margin-bottom: 25px;
            }
        }
    }
}

@media (min-width: 992px) {
    .Skills {
        .skill-wrapper {
            flex-direction: row;
            justify-content: space-between;
            .skill-item {
                flex-basis: 45%;
            }
        }
    }
}
