.header {
    display: flex;

    .float-left, float-right {
        display: none;
    }
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        height: 70px;
        padding: 20px 20px;
        box-sizing: border-box;
        a {
            h1 {
                color: black;
                display: inline-block;
                font-family: 'primary-font-bold', sans-serif;
                margin: 0;
            }
        }
        .menu-icon {
            position: absolute;
            z-index: 2;
            right: 20px;
            top: 35px;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: none;
            border: none;
            outline: none;
            font-size: 22px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        position: relative;
        .float-left {
            display: block;
            flex-basis: 25%;
        }
        .nav-wrapper {
            padding: 20px 0;
            flex-basis: 70%;
            .menu-icon {display: none}
        }
        .float-right {
            display: block;
            flex-basis: 5%;
        }
    }
}
