.SideNav {
    position: absolute;
    top: 0;
    right: calc(-100%);
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: aquamarine;
    transition: transform 0.5s ease-in-out;
    padding: 10px 0;
    li {
        list-style-type: none;
        padding: 10px 0;
        a {
            display: block;
            text-decoration: none;
            font-family: 'primary-font-bold';
            color: gray;
            font-size: 18px;
            width: 100%;
            text-align: center;
            &.active {
                color: var(--color-primary);
            }
        }
    }
    &.expand {
        transform: translateX(-100%);
    }
}
