.SideNav {
    position: fixed;
    top: 0;
    right: calc(-100%);
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    transition: transform 0.5s ease-in-out;
    padding: 10px 0;
    li {
        list-style-type: none;
        padding: 10px 0;
        a {
            display: block;
            text-decoration: none;
            font-family: 'primary-font-bold';
            color: black;
            font-size: 18px;
            width: 100%;
            text-align: center;
            &.active {
                color: darkcyan;
            }
        }
    }
    &.expand {
        transform: translateX(-100%);
    }
}

@media (min-width: 992px) {
    .SideNav {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 15px;
        right: 0;
        width: 50%;
        background: none;
        li {
            display: inline-block;
            margin-left: 20px;
        }
        &.expand {
            transform: translateX(0);
        }
    }
}
