.App {
    background-color: #F2F2F2;
    width: 80%;
    margin: auto;
    overflow: auto;
    font-family: 'primary-font-regular', sans-serif;
    .sidebar, .container, .nav-control {float: left}
    .sidebar {width: 25%}
    .container {
        width: 70%;
        .content-wrapper {
            padding: 30px;
            border: 1px solid #D8D8D8;
            background-color: #FFFFFF;
        };
    }
}


