//---MOBILE-FIRST DESIGN

body {
    margin: 0;
}
#root {
    background-image: url("../../assets/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.App {
    width: 100%;
    margin: auto;
    font-family: 'primary-font-regular', sans-serif;
    position: relative;
    overflow-x: hidden;
    .container {
        display: flex;
        flex-direction: column;
        .sidebar {
            flex-basis: 100%;
        }
        .nav-control {
            display: none;
        }
        .content-wrapper {
            flex-basis: 100%;
            box-sizing: border-box;
        }
    }
}

@media (min-width: 992px) {
    .App {
        width: 80%;
        .container {
            flex-direction: row;
            .sidebar {
                flex-basis: 25%;
            }
            .content-wrapper {
                flex-basis: 70%;
            }
            .nav-control {
                display: block;
                flex-basis: 5%;
            }
        }
    }
}


