.navigation {
    display: block;
    overflow: auto;
    text-align: center;
    h2 {display: inline-block; float: left}
    ul {
        display: inline-block;
        float: right;
        li {
            display: inline-block;
            list-style-type: none;
            margin-left: 20px;
            a {text-decoration: none}
        }
    }
}
