.navigation {
    display: block;
    overflow: auto;
    text-align: center;
    h2 {display: inline-block; float: left; font-family: 'primary-font-bold', sans-serif}
    ul {
        display: inline-block;
        float: right;
        li {
            display: inline-block;
            list-style-type: none;
            margin-left: 20px;
            a {
                text-decoration: none;
                font-family: 'primary-font-bold';
                color: gray;
                font-size: 18px;
                &.active {
                    color: var(--color-primary);
                }
            }
        }
    }
}
