.process-line {
    .skill-title {
        font-family: primary-font-bold;
        font-size: 0.9rem;
        letter-spacing: 0.01rem;
        word-spacing: 1px;
        line-height: 1.4rem;
        margin-bottom: 5px;
    }

    .process-bar {
        position: relative;
        width: 100%;
        height: 7px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        .value {
            position: absolute;
            top: -40px;
            right: 0;
        }
    }
}
