.Homepage {
    position: relative;
    .Objective, .information, .Skills, .Education, .Experience {
        padding: 30px 50px;
        border: none;
        background-color: var(--color-content);
        p {line-height: 25px;}
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .Homepage {
        .Objective, .information, .Skills, .Education, .Experience {
            border: 1px solid var(--color-border);
        }
    }
}
