.Information {
    .content {
        word-wrap: break-word;
        .list-title {
            float: left;
            margin: 0;
            font-family: primary-font-bold;
            font-size: 0.9rem;
            word-spacing: 1px;
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            text-transform: uppercase;
            clear: left;
        }
        .list-content {
            margin-left: 100px;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 992px) {
    .Information {
        .list-content {
            margin-left: 130px;
        }
    }
}
